:root {
  --color-bg1: #171718; /* Reemplaza el color dark */
  --color-bg2: #1C1E22; 
  --color-text1: #ffffff;
  --color-text2: #5C62EC;
  --color-text3: #85BFD1;
  --color-gradiente: linear-gradient(to right, #5C62EC, #59EBFF); /* Degradado para botones e iconos */
}

body {
  font-family: "Raleway", sans-serif;
}

/* Custom botones */

.btn-gradiente {
  background: var(--color-gradiente);
  color: white; /* O cualquier otro color de texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-gradiente-outline {
  background: none; 
  color: var(--color-text2); 
  border: 2px solid;
  border-image: var(--color-gradiente);
  border-image-slice: 1;
  padding: 8px 18px;
  border-radius: 8px;
}

.btn-gradiente-outline:hover {
  background: var(--color-gradiente);
  color: white;
}

/* navbar */

.navbar-custom {
  background-color: var(--color-bg1);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Habilidades Técnicas */

.icon_img {
  height: 50px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
